header{
    background-color: slategrey;
    max-width: fit-content;
    border-radius: 20px;
    padding: 0px 10px;
}

body{
    background-color: darkslategrey;
    font: normal 20px Arial;
    margin: 10px;
}
section{
    background-color: aquamarine;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 20px black;
    margin: auto;
    width: 500px;
    text-align: center;
}
footer{
    font: italic 16px Arial;
    position: absolute;
    bottom: 0px;
}