body{
    background-color: darkslategray;
    text-align: center;
    font: normal 20px arial;
}
header{
    background-color: azure;
    width: initial;
}
footer{
    font: italic 16px arial black;
    position: absolute;
    bottom: 10px;
}